<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>AD Selfservice User Telephone Update</title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
          <form class="form-wrapper" method="post">
            <fieldset class="section is-active">
              <h1>AD Selfservice User Telephone Update</h1>
              <h3>Login (LDAP)</h3>
              <label>User</label>
              <input type="text" name="user_name_pid" id="user_name_pid" placeholder="Usuario">
              <label>Password</label>
              <input type="password" name="user_pid_Password" id="user_pid_Password" placeholder="Senha">
              <input class="submit button" type="submit" value="Login" style="background-color: #3498db;">
            </fieldset>
          </form>
        </div>
      </div>
</body>
</html>